<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Book</title>
  </head>
  <body>
    <%- include('./includes/navigation.ejs') %>
    <form action="/edit-book" method="POST">
      <label for="title">Naslov Knjige</label>
      <input type="text" name="title" value="<%= theBk.title %>" />
      <label for="author">Autor</label>
      <input type="text" name="author" value="<%= theBk.author %>" />
      <input type="hidden" value="<%= theBk.id %>" name="bookId" />
      <button type="submit">Dodaj Knjigu</button>
    </form>
  </body>
</html>
